nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 30px; 
    box-shadow: 2px 2px rgb(209, 208, 208);
}
.logo {
    background-color: blueviolet;
    border-radius: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    width: 30px;
    
}
.menu a {
    padding: 10px 15px;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;  
}
.menu a:hover{
    background-color: rgb(31, 45, 4);
    text-decoration:underline;
    font-size: 23px;
    
}

    .menu_icon {
        display: none;
    }

body{
    margin: 0px;
    padding: 0px;
    background-color: pink; 
} 
.avichor {
    height: 500px;
    width: 200px;
    float: left;
    margin: 20px;
}

.avichor img {
    width: 200px;
    border-radius: 5%;
}
@media(max-width:480px) {
    body{
        background-color: pink;
    }
    .logo{
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    .menu{
        display: none;
    }

    .menu_icon {
        display: block;
    }
    .menu_icon svg{
        color: black;
    }
}                   